[submodule "venders/yolo_tensor"]
	path = venders/yolo_tensor
	url = https://github.com/gliese581gg/YOLO_tensorflow.git
[submodule "venders/darkflow"]
	path = venders/darkflow
	url = https://github.com/thtrieu/darkflow.git
[submodule "venders/keras-yolo3"]
	path = venders/keras-yolo3
	url = https://github.com/qqwweee/keras-yolo3.git
