<!doctype html>
<html>
<head>
  <title>表示</title>
  <!-- 画面のサイズを取得するためのやつ-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- BootstrapのCSS読み込み -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- BootstrapのJS読み込み -->
  <script src="/javascripts/bootstrap.min.js"></script>

  <meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
  <link href='/stylesheets/style.css' />
</head>

<body>
  <div id="index" class ="">

    <section class="container">
      <table class="table table-responsive">
    <% imgData.forEach(function(imgData) { %>
      <tr class="col-md-12">
        <td class="col-md-1"><%= imgData.frame %></td>
        <td class="col-md-5">
          <img class="gen-img" src="<%= imgData.path %>">
          </td>
          <td class="col-md-4"><%= imgData.frame %></td>
          <td class="col-md-2"><%= imgData.name %></td>
        </tr>
    <% }); %>

    </table>
  </section>

  </div>
</body>
</html>
